.Button {
    height: 30px;
    padding: 0 15px;

    border: none;
    border-radius: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.Button_primary {
    background-color: rgba(138, 2, 2, 0.986);
    color: white;
}

.Button_secondary {
    background-color: rgba(173, 173, 173, 0.986);
    color: rgb(0, 0, 0);
}
